$blue: #0054A5;
$gray: #333333;
$white: #fff;
$form_border:#DBDFEA;
$light_white:#D0E4F6;
$light_blue:#8094AE;
$bg-color:#D2D2D2;
$dark-blue:#816BFF;
$yellow:#F4BD0E;
$blue-bg:#09C2DE;
$red:#E85347;
$dark-blue-bg:#2C3782;
$green:#20C997;
$orange:#FFA353;
$black:#000;
$light_orange:rgba(255, 163, 83,0.1);
$off_white:#F5F6FA;
