


/* auth-left css */
.auth-page-inner{display:flex;
    align-items: center;

    .title{
        i{
            display:inline-block;
            @include rem-fallback(margin-bottom ,20);
        }
    }
}
.authentication-page{
 .auth-left-section{ @include rem-fallback(padding,50,50,100);position: relative; background-color:#fff;flex: 0 0 50%;max-width:50%;display:flex;align-items:center;justify-content: center;}
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before{
    border-bottom:0;
}
.auth-footer{
    // position: absolute;
    // bottom:20px;
    // left:50%;
    // transform: translateX(-50%);
    @include rem-fallback(margin-top,100);
    .auth-links{

        display:flex;
        align-items: center;
        justify-content: center;
        margin:0 auto 10px;
        
       

        li{
            @include rem-fallback(padding ,0, 10);
            
            a{
        display:flex;
        align-items:center;
        @include rem-fallback(font-size ,14);
        @include rem-fallback(line-height ,18);
        font-weight:400;
        color:$blue;
        text-decoration:underline;
        &:hover{
            color:$gray;
            text-decoration:none;
        }

            }
        }
    }
    p{
        color:$gray;
        @include rem-fallback(font-size ,13);
        @include rem-fallback(line-height ,17);
        font-weight:300;
        text-align: center;
        margin-bottom:0;

    }
}



/* auth -right section */

.auth-right-section{
    background-color: $blue;
    display:flex;
    align-items: center;
    justify-content:center;
    @include rem-fallback(padding ,50);
    flex-direction: column;
    flex:0 0 60%;
    max-width:60%;
    i{
        @include rem-fallback(margin-bottom ,40);
        display:inline-block;
        max-width:317px;
        margin-left:auto;
        margin-right:auto;
        display:inline-block;
        img{
            width:100%;
            height:100%;
            display:block;
        }
    }
    p{
        color:$white;
        display:inline-block;
    }
  }
  .auth-right-inner{
    max-width:605px;
    width:100%;
    margin:0 auto;
    text-align: center;
  }

 .dashboard-section{
    @include rem-fallback(padding-bottom ,20);
 }

 .dashboard-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
 }