<section class="authentication-page">
<div class="container">

<div class="auth-page-inner">
<div class="auth-left-section">
    <div class="auth-left-inner">
        <div class="title">
            <i><img src="./assets/images/link-service.svg" alt=""></i>
        </div>
        <h3>Login</h3>
        <p>Access the DashLite panel using your email and passcode.</p>
        <div class="form-block">
            <mat-form-field>
                <mat-label>Input</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Input</mat-label>
                <input matInput>
              </mat-form-field>
        </div>
    </div>
</div>
<div class="auth-right-section">
    <app-auth-right></app-auth-right>
</div>
</div>

</div>
</section>