
<section class="authentication-page">
    <div class="">
    
    <div class="auth-page-inner">
    <div class="auth-left-section">
        <div class="auth-left-inner">
            <div class="title">
                <i><img src="./assets/images/link-service.svg" alt=""></i>
            </div>
            <h3>Register</h3>
            <p>Access the DashLite panel using your email and passcode.</p>
            <div class="form-block">
                <form class="example-form">
                    <div class="form-row">
                    <div class="form-col two-col">
                        <div class="form-field-inner">
                    <label class="form-label">First Name</label>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Enter your password">
                    </mat-form-field>
                    </div>
                    </div>
                  
                  <div class="form-col two-col">  
                        <div class="form-field-inner">
                        <label class="form-label">Last Name</label>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Enter your password">
                        </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-col">
                        <div class="form-field-inner">
                    <label class="form-label">First Name</label>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Enter your password">
                    </mat-form-field>
                    </div>
                    </div>
                  
                </div>
                <div class="form-row">
                    <div class="form-col two-col">
                        <div class="form-field-inner">
                    <label class="form-label">Password</label>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Enter your password">
                    </mat-form-field>
                    </div>
                    </div>
                  
                  <div class="form-col two-col">  
                        <div class="form-field-inner">
                        <label class="form-label">Confirm Passowrd</label>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Enter your password">
                        </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-col">
                        <div class="form-field-inner">
                    <label class="form-label">Company Name</label>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Enter your email address or username">
                    </mat-form-field>
                    </div>
                    </div>
                  
                </div>
                <div class="form-row">
                    <div class="form-col">
                        <div class="form-field-inner">
                    <label class="form-label">Promo Code</label>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Enter your email address or username">
                    </mat-form-field>
                    </div>
                    </div>
                  
                </div>
                <div class="form-row">
                    <div class="form-col">
                        <mat-checkbox>I have read and I agree to the <a href="#" title="Terms of Use">Terms of Use</a> and <a href="#" title="Privacy Policy">Privacy Policy</a></mat-checkbox>
                    </div>
                  
                </div>
               
                        <a class="primary-btn" title="Sign Up">Sign Up</a>
                        <p class="account">Don't have an account? <a href="#" title="login here" class="account-link">login here</a></p>
                      
                  </form>
            </div>
            <div class="auth-footer">
            <ul class="auth-links">
                <li><a href="#" title="Home">Home</a></li>
                <li><a href="#" title="Terms Of Use">Terms Of Use</a></li>
                <li><a href="#" title="Privacy">Privacy</a></li>
            </ul>
            <p>Copyright 2023-24 © BIMS Corp.</p>
        </div>
        </div>
    </div>
    <div class="auth-right-section">
        <app-auth-right></app-auth-right>
    </div>
    </div>
    
    </div>
    </section>