@import 'general';

/* sidebar */
.sidebar{
    display: flex;
    flex-direction: column;
    width: 422px;
    @include rem-fallback(padding ,30,0,30,30);
    border-right:1px solid $form_border;
    .sidebar-header{
        display:flex;
        @include rem-fallback(padding,20);
        border-bottom:1px solid $form_border;
        i{
            display: inline-block;
            @include rem-fallback(margin-right,10);
            @include rem-fallback(width ,34);
            @include rem-fallback(height ,34);
        }
    }
    .sidebar-list{
        @include rem-fallback(padding ,20);
       
    
    ul{
        display:flex;
        flex-direction: column;
        li{
            @include rem-fallback(margin-bottom ,15);
            
            &:last-child{
                margin-bottom:0;
            }
            a{
                position: relative;
                display: flex;
                align-items: center;
                @include rem-fallback(padding ,15,0);
                
                font-weight:600;
                @include rem-fallback(font-size,14);
                @include rem-fallback(line-height,1.2);
                color:$gray;
                font-family: 'Nunito', sans-serif;
                text-decoration:none;
                &:hover{
                    span{
                    color:$light_blue;
                    }
                }
                i{
                    display:inline-block;
                    @include rem-fallback(margin-right ,20);
                }
                span{
                    display:inline-block;
                    @include rem-fallback(font-size,14);
                    line-height: 1.2;
                    color:$gray;
                    font-family: 'Nunito', sans-serif;
                    font-weight: 600;

                }
                &:after{
                    content:"";
                    position: absolute;
                    top:50%;
                    right:0;
                    background-image:url('/assets/images/down-arrow-gray.svg');
                    @include rem-fallback(width, 16);
                    @include rem-fallback(height, 10);
                    background-position: center;
                    background-size:contain;
                    background-repeat: no-repeat;
                    transform: translateY(-50%);

                }
            }
        }
    }
}
}

