
<div class="sidebar">
    <div class="sidebar-header">
        <i><img src="assets/images/user.svg" alt=""></i>
        <div class="user-detail">
            <span>Aizaz Patnivora</span>
            <a href="#" title="Aizazahemad.patanivora@tatvasoft.com">Aizazahemad.patanivora@tatvasoft.com </a>
        </div>
    </div>
    <div class="sidebar-list">
   
        <ul>
            <li>
                <a routerLink="/company-setting"
                routerLinkActive="router-link-active" title="Company Settings"><i><img src="assets/images/setting.svg"></i><span>Company Settings</span>
                </a>
                <a  title="Leads and Quotes Statuses"><i><img src="assets/images/status.svg"></i><span>Leads and Quotes Statuses</span>
                </a>
                <a routerLink="/work-order"
                routerLinkActive="router-link-active"  title="Work Order Status Groups"><i><img src="assets/images/order.svg"></i><span>Work Order Status Groups</span>
                    
                </a>
                <a href="#" title="Work Order Statuses"><i><img src="assets/images/order.svg"></i><span>Work Order Statuses</span>
                </a>
                <a href="#" title="Custom Fields"><i><img src="assets/images/field.svg"></i><span>Custom Fields</span>
                </a>
                <a href="#" title="Employee Fields"><i><img src="assets/images/employee.svg"></i><span>Employee Fields</span>
                </a>
                <a href="#" title="Client Request Page"><i><img src="assets/images/client.svg"></i><span>Client Request Page</span>
                </a>
                <a href="#" title="Contract Templates"><i><img src="assets/images/template.svg"></i><span>Contract Templates</span>
                </a>
                <a href="#" title="Email Templates"><i><img src="assets/images/email.svg"></i><span>Email Templates</span>
                </a>
            </li>
        </ul>

    </div>
</div>

