<!-- <p>this is dashboard</p>

<div class="inner-pages-wrapper">

 <app-header></app-header>
<app-sidebar></app-sidebar>

<div class="inner-pages">

</div>

</div> -->

<div class="inner-pages-wrappr">
  <app-header></app-header>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <app-sidebar></app-sidebar>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
    <mat-drawer-content>
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
      <div class="inner-pages">
        <router-outlet>
            <!-- <app-lsp-dashboard></app-lsp-dashboard> -->
        </router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
